extends layout 

block content 
    if artist == null
        h3 This Arist dosn't exist.
    else 
        h1=title 
        a(href=artist.link) #{artist.name}'s Spotify.
        hr
        if artist.avatar 
            img(src=artist.avatar, style="width:50%")
            hr
        if songs.length > 0
            h3 Songs.
            ul 
            each song in songs 
                li 
                    a(href=song.url) #{song.name}
        else 
            h3(style="background-color: red; color: white") #{artist.name} has not any songs Yet!.
        p 
            a(href=artist.url+"/delete", style="font-size: 20px; font-weight: 1000") Delete.
        p 
            a(href=artist.url+"/update", style="font-size: 20px; font-weight: 1000") Update.
    