extends layout 

block content 
    if artist == null
        h3 This Arist dosn't exist.
    else 
        h1=title 
        a(href=artist.link) Spotify profile.
        hr
        if artist.avatar 
            img(src=artist.avatar, style="width:50%")
            hr
        if songs.length > 0
            h3 Songs.
            ul 
            each song in songs 
                li 
                    a(href=song.url) #{song.name}
        else 
            h3(style="background-color: red; color: white") #{artist.name} has not any songs Yet!.
        hr
        p created by:
        a(href=artist.created_by.url) #{artist.created_by.username}
        hr
        if artist.created_by.username==currentUser.username
            p
                a(href=artist.url+'/delete') Delete Artist
            p
                a(href=artist.url+'/update') Update Artist
    