extends layout

block content
  h1 #{song.name}
  if song.cover 
    img(src=song.cover, style="width: 50%")
  p #[strong Spotify/SoundCloud: ] 
    a(href=song.link) #{song.name}
  p #[strong Artist: ]
    a(href=song.artist.url) #{song.artist.name}
  p #[strong Lyrics:] #{song.summary}
  p #[strong Genre: ]
    a(href=song.genre.url) #{song.genre.name}
    hr
    p created by:
      a(href=song.created_by.url) #{song.created_by.username}
    p
      a(href=song.url+'/delete') Delete Song
    p
      a(href=song.url+'/update') Update Song
